[ENVIRONMENT]

curr_dir = /tmp
# All files and directories are assumed in here


[JOB]

bin = python
job_file = render.py
params_file = render.params # each line is space-delimited
# `<bin> <job_file> <one row of params_file>` should run

pool_dir = pool


[MACHINES]

cpu = range(1, 38)
gpu = []


[OPTIONAL]

expect_file = render.expects # each line is space-delimited
# Each row corresponds to that of <params_file>
# If all expected output files for a job are present, skip this job
# if any expected output file is not present, or this file is not provided, run the job
