[ENVIRONMENT]

curr_dir = /tmp
# All files and directories below are relative to this


[JOB]

bin = python
job_file = job.py
params_file = para/job.params # parameters are space-delimited in each line
# `<bin> <job_file> <any line of params_file>` should run

pool_dir = para/job.pool


[MACHINES]

cpu = range(1, 38)
gpu = []


[OPTIONAL]

# Simply delete the following items if undesired

expect_file = para/job.expects # files are space-delimited in each line
# Each line corresponds to that of params_file
# If ALL expected output files for a job are present, this job will be skipped
# if ANY expected output file is not present, or this file is not provided, this job will be run

client_threads = -1
# How many threads (or pool workers) should run at the same time on each machine
# Useful when, e.g., 10 workers will hog the entire machine, and you have 20 jobs per machine

client_update_pbar_every = 1
# Every how many jobs the client updates its progress bar once

client_quit_after = -1
# After how many jobs the client quits
# Useful for testing if what gets produced is what you expect before dispatching all jobs

client_dryrun = False
# If true, only print the commands, rather than actually running them
