[ENVIRONMENT]

curr_dir = /tmp
# All files and directories below are relative to this


[JOB]

bin = python
job_file = render.py
params_file = render.params # parameters are space-delimited in each line
# `<bin> <job_file> <any line of params_file>` should run

pool_dir = pool


[MACHINES]

cpu = range(1, 38)
gpu = []


[OPTIONAL]

# Simply delete the following items if undesired

expect_file = render.expects # files are space-delimited in each line
# Each line corresponds to that of params_file
# If ALL expected output files for a job are present, this job will be skipped
# if ANY expected output file is not present, or this file is not provided, this job will be run
